{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="{% static 'images/traffic5.jpg' %}" alt="">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form id="loginForm" method="post">
          {% csrf_token %}
          <div class="divider d-flex align-items-center my-4">
            <h2 class="text-center fw-bold mx-3 mb-0">Login</h2>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" id="username" name="username" class="form-control form-control-lg"
              placeholder="Enter your username" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="password" name="password" class="form-control form-control-lg"
              placeholder="Enter password" />
          </div>

          <div class="text-center mt-4 pt-2">
            <button type="submit" id="loginButton" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <div class="text-white mb-3 mb-md-0 text-center">
      Copyright © 2024. All rights reserved.
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
  $('#loginForm').on('submit', function(e) {
    e.preventDefault();

    var formData = $(this).serialize();

    $.ajax({
      type: 'POST',
      url: '/login/',
      data: formData,
      success: function(response) {
        if ('redirect_url' in response) {
          window.location.href = response.redirect_url;  // Redirect to the provided URL
        } else {
          alert('Invalid credentials. Please try again.');
        }
      },
      error: function(xhr, textStatus, error) {
        alert('Error: ' + xhr.responseText);
      }
    });
  });
});



  </script>
  

{% endblock %}
